@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
	margin: 0;
	
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #FFD200;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.catch-btn {
  width: 200px;
  height: 35px;
  display: block;
  margin: 25px auto;
  background: #FFCE00;
  border: none;
  outline: none;
  color: #171717;
  font-weight: 700;
  cursor: pointer;
  border-radius: 7px;
}
.sprite {
  display: block;
  width: 150px;
  margin: 0px auto;
}

 

.pokedex {
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 15px;
  display: flex;
  flex-flow: column;
  overflow: scroll;
}
.pokedex-list {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 15px;
}
.pokedex-list .pokemon {
  position: relative;
  display: flex;
  flex-flow: column;
  min-height: 150px;
  padding: 15px;
  background: #F3F3F3;
} 


.pokedex-list .pokemon .remove {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: rgb(240, 96, 39);
  color: #F3F3F3;
  font-size: 28px;
  cursor: pointer;
  border-radius: 25px;

}
.pokedex-list .pokemon .sprite {
  width: 100%;
}